*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#box{
    height: 400px;
    width: 400px;
    background-color: white;

    h1{
        padding: 30px;
        text-align: center;
    }

    h2{
        padding: 30px;
        text-align: center;
    }
}

button:active{
    scale:0.95;
}